<?xml version="1.0" encoding="UTF-8"?>

<!-- PHPUnit configuration file for PHPUnit 10+ -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResult="false"
         colors="true">
    <testsuites>
        <testsuite name="GraphComposer Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>
</phpunit>
